<div id = "sidebar">
  <div class = "text-center">
    <ul class="logo-ul">
      <li class="logo-wrapper">
        <a class="logo" href="/">
          <i class="fa"></i>
            <p style = "padding: 5px; color: white; fone-style: bold">UI</p>
        </a>
      </li>
      <li>
        <a href="/"><span class = "movement">UI Movement</span></a>
      </li>
    </ul>
  </div>
  <ul class = "list-unstyled categories-menu">
    <li class = "emphasis">
      <%= link_to "FEATURED", '#' %>
    </li>
    <li class = "emphasis">
      <%= link_to "ALL", '#' %>
    </li>
    <li>
      <a href = "#">BUTTON</a>
    </li>
    <li>
      <a href = "#">CALENDARS</a>
    </li>
    <li>
      <a href = "#">CHAT</a>
    </li>
    <li>
      <a href = "#">COMMERCE</a>
    </li>
    <li>
      <a href = "#">CONTACTS</a>
    </li>
    <li>
      <a href = "#">CREATING CONTENT</a>
    </li>
    <li>
      <a href = "#">DASHBOARD</a>
    </li>
    <li>
      <a href = "#">FILTER</a>
    </li>
    <li>
      <a href = "#">FONT PICKER</a>
    </li>
    <li>
      <a href = "#">FORMS</a>
    </li>
    <li>
      <a href = "#">HOVER</a>
    </li>
    <li>
      <a href = "#">LANDING PAGE</a>
    </li>
    <li>
      <a href = "#">MAP</a>
    </li>
    <li>
      <a href = "#">MAP BROWSING</a>
    </li>
    <li>
      <a href = "#">MENU</a>
    </li>
    <li>
      <a href = "#">MOBILE</a>
    </li>
    <li>
      <a href = "#">MUSIC PLAYER</a>
    </li>
    <li>
      <a href = "#">NAVIAGATION</a>
    </li>
    <li>
      <a href = "#">NOTIFICATIONS</a>
    </li>
    <li>
      <a href = "#">ONBOARDING</a>
    </li>
    <li>
      <a href = "#">PAYMENT</a>
    </li>
    <li>
      <a href = "#">PLAYLIST</a>
    </li>
    <li>
      <a href = "#">PROGRESS BAR</a>
    </li>
    <li>
      <a href = "#">PULL TO REFRESH</a>
    </li>
    <li>
      <a href = "#">SEARCH</a>
    </li>
    <li>
      <a href = "#">SIGNUP & LOGINS</a>
    </li>
    <li>
      <a href = "#">SILDER</a>
    </li>
    <li>
      <a href = "#">SMARTWATCH</a>
    </li>
    <li>
      <a href = "#">SWITCH</a>
    </li>
    <li>
      <a href = "#">TABS</a>
    </li>
    <li>
      <a href = "#">TRANSITION</a>
    </li>
    <li>
      <a href = "#">VIEW ALL TAGS</a>
    </li>


    </ul>

    <div class = "sidebar-search">
      <form method = "get" action = "/_/search/">
        <input type = "text" class = "input1" name = "search" placeholder = "Search" >
      </form>
    </div>

    <div style = "border: 0.1px solid #ccc; margin-top: 50px;" ></div>

    <ul class = "list-unstyled categories-menu">
      <li>
        <a href = "#">About</a>
      </li>

      <li>
        <a href = "#">Sponsor us</a>
      </li>
    </ul>

    <div style = "border: 0.1px solid #ccc; margin-top: 30px;" ></div>

    <ul class = "list-unstyled categories-menu">
      <li>
        <a href = "#">Sign up</a>
      </li>

      <li>
        <a href = "#">Log in</a>
      </li>
    </ul>

    <div style = "border: 0.1px solid #ccc; margin-top: 30px;" ></div>

    <ul class = "list-unstyled categories-menu">
      <%= link_to image_tag("mail.png", alt: "subcribe", width: "20px", height: "20px", style: "display: inline"), "#" %>
      <li style = "padding: 10px; display: inline">
        <a href = "#">Subcribe</a>
      </li>
     <br></br>

      <%= link_to image_tag("rss.png", alt: "rss feed", width: "20px", height: "20px", style: "display: inline"), "#" %>
      <li style = "padding: 10px; display: inline">
        <a href = "#">Rss Feed</a>
      </li>
      <br><br>

      <%= link_to image_tag("facebook.png", alt: "fb", width: "20px", height: "20px", style: "display: inline"), "#" %>
      <li style = "padding: 10px; display: inline">
        <a href = "https://www.facebook.com/UI-Movement-312055515822167/" target = "_blank">Facebook</a>
      </li>
      <br><br>

      <%= link_to image_tag("twitter.png", alt: "twitter", width: "20px", height: "20px", style: "display: inline"), "#" %>
      <li style = "padding: 10px; display: inline">
        <a href = "https://twitter.com/uimovement" target="_blank">Twitter</a>
      </li>
      <br></br>

      <%= link_to image_tag("instagram.png", alt: "instagram", width: "20px", height: "20px", style: "display: inline"), "#" %>
      <li style = "padding: 10px; display: inline">
        <a href = "https://www.instagram.com/uimovement/" target="_blank">Instagram</a>
      </li>

    </ul>


</div>
